@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

@* add the pictures and links *@
<br /><br /><br />
<div class="text-center">
    <h3>Quick Wits Comedy</h3>
    <a href="https://www.qwcomedy.com/">Visit here! A place where Joel performs regularly.</a>
    <br />
    <h3>Baconsale</h3>
    <a href="https://www.qwcomedy.com/">Baconsale site.</a>
    <br />
    <img id="myImage" src="~/img/baconsale.jpeg" height="500"/>
</div>