@{
    ViewData["Title"] = "Home Page";
}
@* add the header and picture *@
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/joelhiltonheadshot_(1).jpg" height="400"/>
</div>
